@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.body {
    background-color: green;
}

#background-home { 
    background: url("../../assets/images/ninja3.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: cover;
    min-height: 100vh;
}

    
  
}







