@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#background-home { 
    background: url("../../assets/images/ninja3.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.background-ninja2 {
    background: url("../../assets/images/ninja2.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    min-height: 100vh;
}


.container-footer{
    text-align: center;
    margin-bottom: 0;
    color: white;
}

.navbar-brand {
    color: green;
    text-align: center;
}







